<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',     filename='css/styleloading.css') }}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery-1.2.6.min.js') }}"></script>
<script>
    function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("enableperformance");
  // Get the output text
  var text = document.getElementById("cputest");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}

    function myFunctionaws() {
  // Get the checkbox
  var checkBox = document.getElementById("enableaws");
  // Get the output text
  var text = document.getElementById("awscontent");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}
   function myFunctionopenstack() {
  // Get the checkbox
  var checkBox = document.getElementById("enableopenstack");
  // Get the output text
  var text = document.getElementById("openstackcontent");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}

function notloading() {
  var text = document.getElementById("loading");
  // Get the output text
  var text2 = document.getElementById("content");

  // If the checkbox is checked, display the output text
    text2.style.display = "block";
    text.style.display = "none";
}
</script>
</head>
<body onload="notloading();">

<div id="loading">
        <div id="txtloading">
    <p>this script is working. it kan take a few minutes</p>
    <img src="/static/Gear-0.2s-215px.gif">
        </div>
</div>

<div id="content">
<input type="checkbox" name="enableaws" id="enableaws" value="1" onclick="myFunctionaws()" >
<label for="enableaws"> aws</label><br>
<div id="awscontent" style="display: none;">
<form method="POST">
    <input type="checkbox" name="regiocheckbox" id="us-east-1" value="us-east-1" >
    <label for="us-east-1"> us-east-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="us-east-2" value="us-east-2" >
    <label for="us-east-2"> us-east-2</label><br>
    <input type="checkbox" name="regiocheckbox" id="us-west-1" value="us-west-1" >
    <label for="us-west-1"> us-west-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="us-west-2" value="us-west-2" >
    <label for="us-west-2"> us-west-2</label><br>
    <input type="checkbox" name="regiocheckbox" id="af-south-1" value="af-south-1" >
    <label for="af-south-1">af-south-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="ap-east-1" value="ap-east-1" >
    <label for="ap-east-1"> ap-east-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="ap-south-1" value="ap-south-1" >
    <label for="ap-south-1">ap-south-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="ap-northeast-1" value="ap-northeast-1" >
    <label for="ap-northeast-1"> ap-northeast-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="ap-northeast-2" value="ap-northeast-2" >
    <label for="ap-northeast-2"> ap-northeast-2</label><br>
    <input type="checkbox" name="regiocheckbox" id="ap-southeast-1" value="ap-southeast-1" >
    <label for="ap-southeast-1"> ap-southeast-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="ap-southeast-2" value="ap-southeast-2" >
    <label for="ap-southeast-2"> ap-southeast-2</label><br>
    <input type="checkbox" name="regiocheckbox" id="ca-central-1" value="ca-central-1" >
    <label for="ca-central-1">ca-central-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="eu-central-1" value="eu-central-1" >
    <label for="eu-central-1">eu-central-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="eu-west-1" value="eu-west-1" >
    <label for="eu-west-1"> eu-west-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="eu-west-2" value="eu-west-2" >
    <label for="eu-west-2"> eu-west-2</label><br>
    <input type="checkbox" name="regiocheckbox" id="eu-west-3" value="eu-west-3" >
    <label for="eu-west-3"> eu-west-3</label><br>
    <input type="checkbox" name="regiocheckbox" id="eu-south-1" value="eu-south-1" >
    <label for="eu-south-1"> eu-south-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="eu-north-1" value="eu-north-1" >
    <label for="eu-north-1"> eu-north-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="me-south-1" value="me-south-1" >
    <label for="me-south-1"> me-south-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="sa-east-1" value="sa-east-1" >
    <label for="sa-east-1"> sa-east-1</label><br>
    <input type="checkbox" name="regiocheckbox" id="all" value="all" checked>
    <label for="all"> all</label><br>
    <input name="acceskey" id="acceskey" value="acceskey">
    <label for="acceskey"> Access key ID</label><br>
    <input name="accesspw" id="accesspw" value="accesspw">
    <label for="accesspw"> Secret access key</label><br>


    <input type="checkbox" name="enableperformance" id="enableperformance" value="1" onclick="myFunction()" >
    <label for="enableperformance"> enable cpu test</label><br>
    <div id="cputest" style="display: none;">
        <input type="radio" name="options" id="option1" value=7 >
        <label for="option1" > 1 week</label><br>
        <input type="radio" name="options" id="option2" value=14 >
        <label for="option2" > 2 weken</label><br>
        <input type="radio" name="options" id="option3" value=21 >
        <label for="option3" > 3 weken</label><br>
    </div>
    </div>
    <input type="checkbox" name="enableopenstack" id="enableopenstack" value="1" onclick="myFunctionopenstack()" >
    <label for="enableopenstack"> openstack</label><br>
    <div id="openstackcontent" style="display: none;" >
            <input name="opacceskey" id="opacceskey" value="acceskey">
            <label for="opacceskey"> username</label><br>
            <input name="opaccesspw" id="opaccesspw" value="accesspw">
            <label for="opaccesspw"> password</label><br>
        #dit is het script dat er voor zorgt dat er een button toegevoegd kan worden
        <div class="input-box">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <!--<script type="text/javascript">
$(document).ready(function(){
    var total_text=document.getElementsByClassName("input_text");
    var total_text=total_text.length+1;
    var maxField = 10; //Input fields increment limitation
    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('.field_wrapper'); //Input field wrapper
    var fieldHTML = '<div><input type="text" id=total_text name="field_name[]" value=""/><a href="javascript:void(0);" class="remove_button"><img src="/static/remove-icon.png" style="height:15px"/></a></div>'; //New input field html
    var x = 1; //Initial field counter is 1

    //Once add button is clicked
    $(addButton).click(function(){
        //Check maximum number of input fields
        if(x < maxField){
            x++; //Increment field counter
            $(wrapper).append(fieldHTML); //Add field html
        }
    });

    //Once remove button is clicked
    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });
});
</script>
            -->
                <script>
  function add_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    total_text=total_text.length+1;
    field_div = document.getElementById("field_div");
    new_input = "<li id='input_text"+total_text+
    "_wrapper'><input type='text' class='input_text' name='input_text[]' id='input_text"+
    total_text+"' placeholder='Enter Text'></li>";
    field_div.insertAdjacentHTML('beforeend',new_input);
  }
  function remove_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    document.getElementById("input_text"+total_text.length+"_wrapper").remove();
  }
</script>
                <div class="field_wrapper">
    <div id="field_div">
        <input type="text" id="field_name2" name="field_name2[]" value=""/>
        <a onclick="add_field();" class="add_button" title="Add field"><img src="/static/add-icon.png" style="height:15px" /></a>
        <!--<a href="javascript:void(0);" class="add_button" title="Add field"><img src="/static/add-icon.png" style="height:15px" /></a>-->
    </div>

</div>
            #input field toevoegen eindig hier

            </div>
    </div>
    <input type="submit" id="submit" value="submit" onclick="loading();">

</form>
</div>
</body>
</html>
